# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*$py.class
*.pyo

# ==========================
# IDEs y editores
# ==========================
.vscode/
.idea/
*.swp
*.swo
*~

# ==========================
# Sistema operativo
# ==========================
Thumbs.db
Desktop.ini
.DS_Store

# ==========================
# Webots (archivos generados)
# ==========================
*.log
